@import 'global/vars';

.swiper {
  @include fixed-max-width {
    width: 1000px;
    height: 400px;
  }

  width: 100%;
  height: calc(100% / 4 * 3);
  max-height: 400px;

  img {
    display: block;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.body {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;

  @include fixed-max-width;

  .notices_box {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    margin: 10px 0;
    padding: 0 20px;
    line-height: 40px;
    background-color: #fff;
    border: 1px solid #e7e7eb;

    dt {
      float: left;

      @include mobile-mode {
        width: 100%;
      }
    }

    dd {
      float: left;
      margin: 0 0 0 30px;

      &::before {
        content: '●';
        color: #d5d5d5;
        margin-right: 5px;
      }

      a {
        color: #222;
      }
    }
  }

  .mp_kind_mod {
    .mp_kind_mod_hd {
      background-color: #fff;
      margin-bottom: 10px;
      padding: 33px 80px;
      border: 1px solid #e7e7eb;

      @include mobile-mode {
        padding: 33px;
      }

      .icon_mp_kind {
        margin-right: 30px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        h3 {
          margin-left: 20px;
          font-weight: 400;
          font-size: 20px;
          white-space: nowrap;
        }
      }

      ul {
        margin: 0;
      }

      li {
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &::before {
          content: '●';
          color: #d5d5d5;
          margin-right: 5px;
        }
      }

      a {
        color: #222;
        text-decoration: none;

        &:hover {
          color: $link-color;
        }
      }
    }

    .mp_kind_mod_bd {
      display: flex;

      @include mobile-mode {
        flex-direction: column;
      }

      .mp_kind_wrp {
        flex: 1;
        height: 304px;
        margin-right: 10px;
        margin-bottom: 10px;
        border: 1px solid #e7e7eb;
        position: relative;
        background-color: #fff;

        @include mobile-mode {
          flex: none;
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        .mp_kind_box {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          height: 100%;

          .mp_kind {
            color: #8d8d8d;
            padding: 40px;
            height: 224px;

            .icon_mp_kind {
              width: 86px;
              height: 86px;
              display: block;
              margin: 0 auto 20px;
            }

            dt {
              color: #222;
              font-size: 16px;
              text-align: center;
              margin-bottom: 11px;
            }

            dd {
              text-align: center;
              margin-left: 0px;
            }
          }

          .mp_option_links {
            margin-top: 30px;

            a {
              padding: 0 6px;
            }
          }

          .mp_option_box {
            padding-top: 120px;
            text-align: center;
            color: #8d8d8d;
            position: absolute;
            top: 0;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.98);
            display: none;
          }
        }

        &:hover {
          .mp_option_box {
            display: block;
          }
        }
      }
    }
  }
}
